#container{
margin: 1rem;
display: flex;
justify-content: center;
background-color: white;
}

#container > input {
width: 30px;
margin: 10px;
text-align: center;
line-height: 25px;
font-size: 20px;
}
.bottom_btn{
display: flex;
justify-content: space-between;
background-color: rgb(30, 255, 49);
}
.bottom_btn > button {
background-color: #f1f1f1;
margin: 10px;
padding: 20px;
font-size: 30px;
}
body {
font-family: "Inter", sans-serif;
color: #000021;
font-size: calc(1em + 0.5vw);
background-color: #fff;
}
#h_qid{
    text-align: center;
}
.main{
    display: flex;
    justify-content: space-around;
}
.question_details{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 1em;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0 1em;
  }


  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 
    
.answer{
    background-color: #ff9385;
}
/* .unanswer{
    background-color: #ff1302;
} */
.seen{
    background-color: #fff;
}
.review_unanswer{
    background-color: #fff;
    border: solid #0bf7ff;
    border-width: 4px;
}
.review_answer{
    background-color: #ff9385;
    border: solid #ff0b0b;
    border-width: 4px;
}
.total{
    background-color: lawngreen;
}
.unseen{
    background-color: #efefef;
}